*{
	margin: 0;
	padding: 0;

}
body{
	margin:0;
	padding: 0;
	font-family: "roboto", sans-serif;
}
img{
	max-width: 100%;
	display: block;
}
.container{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	margin: 0;

}
.header ul{
	list-style-type: none;
	background-color: #1E1E24;
	text-align: center;
	padding: 20px;


}
.header ul li{
	display: inline-block;
	padding: 5px;
	padding-right: 30px;
	padding-left: 30px;

}
.header ul a{
	color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

}
.header ul a:hover{
	border-bottom: 1px solid;
	color:#0BB99E;
	font-weight: bold;
    font-family: "roboto", sans-serif;
    
}
.bio{

overflow: hidden;

background-color: #100E17;

color: #E7E7E8;
}
.bio .name{

width: 60%;

float: left;

padding: 80px;

font-size: 20px;

box-sizing: border-box;
}
.name{
	overflow: hidden;
}
.name .Hello{
	
	width: 90px;
	padding: 10px;
	margin: 5px;
	background-color: #0BBBA0;
	border-radius: 25px 25px 25px 0px;
	color: white;
}
.name h1{
  padding-top: 15px;
      font-size: 35px;
      padding-bottom: 15px;
}
.name h3{
  
      
      padding-bottom: 15px;
}
.name ul{
	list-style-type: none;
}
.name ul li{
	
	 padding: 5px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
	
}
 ul li a{
	text-decoration: none;
	color: white;
	font-size:20px;
	font-style: bold;

}

.icons li{
	display: inline-block;
}
.icons li a{
	text-decoration: none;
	color: white;
	font-size: 30px;
    padding: 10px;

}
.profilepic{
    width: 40%;
    float: left;
   
   
}
.pic{
	box-sizing: border-box;
    padding: 40px;
    padding-top: 60px;
    padding-right: 60px;
}

.pic img{
	
	border-radius: 50%;
    padding: 0px;
    border: 6px solid;;
}
.about-me{
	overflow: hidden;
	color: white;
	background-color: #100E17;
	padding-top: 80px;
	font-weight: inherit;
	padding-bottom: 80px;
}
.about-me h1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.web{
	width: 33.333%;
	float: left;
	box-sizing: border-box;
	padding: 30px;
}
.web h3{padding-bottom: 20px;}
.web i{
	padding-bottom: 15px;
    font-size: 25px;
    color: #51417E;
}
.graphics{width: 33.333%;float: left;    box-sizing: border-box;    padding: 30px;}
.graphics i{
	padding-bottom: 15px;
	font-size: 25px;
	color: #CF644E;
}
.graphics h3{padding-bottom: 20px;}
.c-plus{width: 33.333%;float: left;    box-sizing: border-box;    padding: 30px;}
.c-plus i{
	padding-bottom: 15px;
	font-size: 25px;
	color:green;
}
.c-plus h3{padding-bottom: 20px;}
.bg-color{
	background-color: #1E1E24;
	padding: 30px;
	box-shadow: 0 0 20px black;
}
.portfolio{
	padding-top: 30px;
	background-color: #100E17;
}
.portfolio h1{
		padding-top: 30px;
		color: white;
		text-align: center;
		padding-bottom: 50px;
		}
.portfolio-images{
	overflow: hidden;
	padding: 10px;
}
.portfolio-images .col1{
	width: 33.333%;
    float: left;
	padding: 20px;
	box-sizing: border-box;
}
.portfolio-images .col1 img{
	
	border-radius: 20px;
	
}

.sub-column{
	background-color: #100E17;
	padding: 10px;
	
	position: relative;
}

 .overlay{
 	position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 97%;
    background-color: #1e1e24b3;
    border-radius: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: scale(0);
    

   
}
.sub-column:hover .overlay{
   width: 98%;
   transform: scale(0.999);

}
.facebook , .instagram{
	position: absolute;
    top: 60%;
    color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 30px;
    border: 1px solid #fff;
    line-height: 40px;
    opacity: 0;
    transition: all 0.7s ease;
}

.facebook{
	left: 55%;
	transform: translate(-55%,-60%);
}
.instagram{
	left: 35%;
	transform: translate(-35%,-60%);
}
.sub-column:hover .facebook,
.sub-column:hover .instagram{
	top:50%;
	opacity: 1;
}
.pricing{
 overflow: hidden;

}
 

.pricing .price{
	width: 33.333%;
	float: left;
	box-sizing: border-box;
	padding: 70px;
	padding-top: 40px;
}
.price .bg-color{
	text-align: center;
}
.bg-color i{
    color: #0C9882;
    font-size: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
	
}

.bg-color h3{
    color: white;
}
.bg-color p{
    color: white;
    font-size: 12px;
    padding: 3px;
}


.bg-color .hire {
	    padding-top: 15px;
    padding-left: 50px;
}
.bg-color .hire h2{
	    width: 60%;
    background-color: #0C9882;
    padding: 5px;
    border-radius: 14px;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}
	

.pricing h1{
	padding-top: 100px;
	color: white;
	text-align: center;
    font-size: 30px;

}
.pricing .bg-color h1{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0C9882;
}
.featured-post{
	overflow: hidden;
}
.featured-post h1{
	padding-top: 100px;
	color: white;
	text-align: center;
	padding-bottom: 50px;
	font-size: 30px;

}
.featured-post .f-article{
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 25px;
}
 
.bg-color-3{
	
    background-color: #1E1E24;
	box-shadow: 0 0 20px black;
	color: white;
	
}
.bg-color-3 img{

    width: 100%;
    
}
.bg-color-3 h2{
	padding: 10px;
    font-weight: 100;
    padding-top: 50px;
}
.bg-color-3 p{
	font-weight: 100;
    padding-top: 10px;
    padding-left: 10px;
    font-size: medium;
    padding-bottom: 10px;
}
.bg-color-3 a{
	text-decoration: none;
	
    font-size: medium;
	
	color: #0C9882;
}
.bg-color-3 .read{
	padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
}
